/* =============== SET UP STYLES =============== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* =============== GENERAL STYLES =============== */
html {
  font-size: 125%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
ul,
p,
a {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #14171f;
}

h1,
h2,
h3,
button,
.preFooterNav {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.55rem;
  margin-bottom: 6px;
}

p {
  line-height: 1.45;
  padding-bottom: 40px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

section {
  padding: 110px 4%;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.floatItemL {
  float: left;
}

/* ---------- button links ---------- */

.btn {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.btn.readMore {
  padding: 8px 20px;
  border: #faba63 solid 2px;
  transition: 0.2s ease-in;
  transition-property: color, background-color;
}

.btn.readMore:hover {
  background-color: #faba63;
  color: #14171f;
}


/* =============== HEADER STYLES =============== */
header {
  background: #201e1f url(./../assets/headerBackground.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

.topNav label,
input[type="checkbox"] {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 49px;
  display: none;
}

.topNav a {
  color: #faba63;
}

.topNav li {
  margin: 23px 25px;
  float: left;
  transition: ease-in 0.2s;
  transition-property: color, transform;
}

.topNav li:hover {
  transform: scale(1.1);
}

.topNav li:hover a {
  color: #fff;
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 8rem;
  padding-top: 20%;
  padding-left: 18%;
}

.h1TxtSpan {
  text-align: right;
  display: block;
}

.txtAroContainer {
  position: relative;
  display: inline-block;
}

.txtAro,
.txtRa {
  line-height: .6;
}

.txtJewelers {
  line-height: 2;
}

.txtAro {
  position: relative;
  right: 50px;
}

.txtAro::before {
  content: '';
  width: 45px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -50px;
  top: 50%;
}

.txtAro::after {
  content: '';
  width: 45px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: -50px;
  top: 50%;
}

.txtJewelers {
  font-family: 'Lato', sans-serif;
  font-size: 2.25rem;
  text-transform: none;
  color: #faba63;
  font-weight: 300;
}

.social {
  float: right;
  position: absolute;
  bottom: 40px;
  right: 0;
  font-size: 1.3rem;
  text-align: center;
}

.social li i {
  margin: 10px 25px 10px 0;
  transition: color .2s ease-in;
}

.social li:hover i {
  color: #faba63;
  cursor: pointer;
}

/* =============== HAND-CRAFTED STYLES =============== */

.handCraftedImg {
  width: calc(30% - 50px);
  margin-right: 50px;
  padding-top: 11px;
}

.handCraftedTxt {
  width: 70%;
}

/* =============== LATEST COLLECTION STYLES =============== */

.collection {
  background-color: #201e1f;
}

.collection h2 {
  text-align: center;
  margin-bottom: 90px;
}

.collectionContainer {
  width: 100%;
  min-width: 100%;
}

.collectionItem {
  width: calc((100% / 3) - 2.7%);
  margin: 0 2%;
}

/* =============== OTHER PAGES LINKS STYLES =============== */

section.otherPages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.otherPagesItem {
  width: calc(100% / 3);
  text-align: center;
  transition: transform ease-in 0.2s;
}

.otherPagesItem:hover {
  transform: scale(1.1);
}

.otherPagesItem i {
  display: block;
  color: #faba63;
  font-size: 2.75rem;
  padding-bottom: 10px;
}

/* =============== BLOG STYLES =============== */

section.blog {
  padding: 0;
}

/* Solves issue of text pushing down second blog row - credit: jonwong.dev */
.blogContainer {
  height: 37.5vw;
}

.blog {
  background-color: #201e1f;
}

.blogTxt,
.blogImg {
  width: 50%;
  height: 100%;
}

.blogTxt1,
.blogImg2 {
  float: left;
}

.blogTxt2,
.blogImg1 {
  float: right;
}

.blogTxt {
  padding: 9% 3.5% 0;
}

/* =============== PRE-FOOTER & FOOTER STYLES =============== */

h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.preFooterNav {
  width: 23%;
}

.preFooterNav li {
  padding-bottom: 5px;
}

footer a,
.preFooter a {
  transition: color ease-in 0.2s;
}

footer a:hover,
.preFooter a:hover {
  color: #faba63;
}

.newsletter {
  width: 50%;
  text-align: center;
  padding-right: 15px;
}

.contact {
  width: 26%;
  text-align: right;
}

.preFooter p,
footer p {
  padding-bottom: .1rem;
}

form {
  width: 100%;
  text-align: center;
  margin-top: 14px;
}

input[type=email],
button {
  display: block; /* make form elements into blocks and float to remove ghost spacing */
  height: 50px;
  border: none;
}

input[type=email] {
  width: 77%;
  color: #14171f;
  padding: 2% 5%;
}

button {
  width: 23%;
  color: #fff;
  background-color: #000;
  font-size: .9rem;
  transition: 0.2s ease-in;
  transition-property: color, background-color;
}

button:hover {
  color: #14171f;
  background-color: #faba63;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
}

/* =============== HELPER CLASSES =============== */
/* located at the bottom for CSS cascading reasons */
.marginR0 {
  margin-right: 0;
}

.marginL0 {
  margin-left: 0;
}

/* =============== MEDIA QUERIES =============== */

@media (max-width: 1350px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1189px) {
   h2 {
    font-size: 2rem;
  }

  .blogTxt {
    padding-top: 7%;
  }

  p {
    font-size: .85rem;
  }

  .handCraftedImg {
    width: calc(35% - 50px);
  }

  .handCraftedTxt {
    width: 65%;
  }

  input[type=email] {
    width: 75%;
  }

  button {
    width: 25%;
  }
}

@media (max-width: 1056px) {
  .blogTxt1 {
    padding-top: 5%;
  }

  .handCraftedImg {
    width: calc(40% - 50px);
  }

  .handCraftedTxt {
    width: 60%;
  }
}

@media (max-width: 1010px) {
  .blogTxt,
  .blogImg {
    float: none;
    width: 100%;
  }

  .blogContainer {
    height: auto;
  }

  p {
    font-size: 1rem;
  }

  .blogTxt {
    padding-top: 6%;
    padding-bottom: 8%;
  }

  section.preFooter {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .preFooterNav {
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: none;
  }
  
  .preFooterNav li {
    display: inline-block;
    margin: 0 5% 10%;
  }
  
  .newsletter {
    width: 60%;
    text-align: left;
  }

  .newsletter button {
    text-align: center;
  }

  .contact {
    width: 40%;
  }
}

@media (max-width: 850px) {
  header {
    background: #201e1f url(./../assets/headerBackground.jpg) 60% center no-repeat;
    background-size: cover;
  }

  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 2.55rem;
  }

  h2 {
    text-align: center;
  }
  
  .handCraftedTxt > div,
  .blogTxt > div {
    text-align: center;
  }

  .about div {
    float: none;
    clear: both;
  }

  .handCraftedImg,
  .handCraftedTxt {
    width: 100%;
  }
  
  .handCraftedImg {
    margin-bottom: 45px;
  }
  
  .newsletter {
    width: 100%;
    text-align: center;
  }

  form {
    width: 90%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Wrote margin L/R out to be very specfic + not overwrite previously defined styles */

  input[type=email] {
    width: 78%;
  }

  button {
    width: 22%;
  }

  .contact {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 635px) {
  
  .topNav {
    position: relative;
    width: 100%;
  }

  .topNav label {
		display: block; /* show hamburger */
    cursor: pointer;
    z-index: 20;
  }

  .topNav ul {
    margin: auto;
    padding: 25vh 0 0 0;
    background: rgba(32, 30, 31, .98);
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: absolute;
    transform: scaleY(0);
    transition: transform ease-in .2s;
  }

  .topNav li {
    float: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }

  input:checked ~ ul {
    transform: scaleY(1);
  }

  .social {
    display: none;
  }

  h1 {
    font-size: 5.5rem;
    padding-left: 20%;
  }

  .txtJewelers {
    font-size: 1.6rem;
  }

  .collectionContainer > div:nth-child(3) {
    display: none;
  }

  .collectionContainer > div:nth-child(2) {
    margin-right: 0;
  }

  .collectionItem {
    width: calc(50% - 2%);
  }

  .otherPagesItem {
    width: 100%;
    margin-bottom: 35px;
  }

  .otherPagesItem .btn {
    font-size: 1.8rem;
  }

  .blogTxt {
    padding-top: 9%;
    padding-bottom: 11%;
  }

  h1{
     padding-top: 42%;
  }

  h2 {
    font-size: 1.8rem;
  }

  .otherPagesItem i {
    font-size: 2.5rem;
  }

  section.preFooter {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contact p,
  footer p {
    font-size: .8rem;
  }

  input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  header {
    background: url(./../assets/headerBackgroundMob.jpg) center center no-repeat;
    background-size: cover;
  }

  h1{
    font-size: 3.5rem;
    padding-top: 35vh;
    margin-left: 20px;
  }

  .txtAro::before {
    width: 30px;
    left: -40px;
  }

  .txtAro::after {
    width: 30px;
    right: -40px;
  }

  .txtJewelers {
    font-size: 1rem;
  }

  section.collection {
    padding-top: 60px;
    padding-bottom: 45px;
  }

  .collectionItem {
    width: calc(50% - 2%); 
  }

  section.otherPages {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 441px) {
  h1{
    font-size: 3.1rem;
  }

  .txtAro::before {
    width: 30px;
    left: -40px;
  }

  .txtAro::after {
    width: 30px;
    right: -40px;
  }

  .txtJewelers {
    font-size: .85rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .preFooterNav li {
    margin: 0 3% 10%;
  }
}

@media (max-width: 441px) {
  .otherPagesItem .btn {
    font-size: 1.5rem;
  }
}

/* ------ FUTURE TO DO ----- */
/* Get svg:hover color working
Add social icons to overlay menu */
